.div-whole-reving {
  background: linear-gradient(
    to right,
    rgba(219, 251, 234, 1),
    rgba(247, 240, 255, 1)
  );
  padding: 30px 0px;
}
.white-div-card {
  background: #ffffff;
  box-shadow: rgba(162, 162, 162, 0.9);
  width: 20rem;
  height: 20rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.div-google {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}
.img-goog {
  width: 5rem;
  height: 5rem;
  margin-top: -8rem;
}
.rate-start {
  display: flex;
  justify-content: flex-start;
}
.text-num {
  color: #483286;
  font-weight: 500;
}
.text-reeee {
  color: #483286;
  font-weight: 400;
}
.center-review {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-trust {
  color: #483286;
  text-align: center;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.btn-get-sr {
  background: linear-gradient(to right, #ffb201, #a27fff) !important;
  border: none;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 2rem;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}
.btn-get-sr:hover {
  transform: translateY(
    -3px
  ); /* Adjust the value as needed for the desired amount of movement */
  transition: transform 0.2s ease; /* Add a smooth transition for the effect */
}
