<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="border: solid 1px #00BF63; border-radius: 10px; padding: 20px" width="20%" height="54">
    <rect width="0%" height="100%" fill="#f0f0f0" />
    <image xlink:href="<%= imageUrl %>" style="border-radius: 30px" height="54" />
    <text x="90" y="20" font-family="Arial" font-size="16" fill="#000"><%= softwareName %></text>
    <span class="rating">
        <i key="1" class="icon_star"></i>
        <i key="2" class="icon_star"></i>
        <i key="3" class="icon_star"></i>
        <i key="4" class="icon_star"></i>
        <i key="5" class="icon_star empty"></i>
    </span>
</svg>


