.histmain {
  background: linear-gradient(
    135deg,
    rgba(229, 164, 71, 0.06) 0%,
    rgba(162, 127, 255, 0.06) 100%
  );
  padding: 10px;
}
.histrow {
  display: flex;
  justify-content: center;
  gap: 15rem;
}
.thirtyfive {
  color: #222;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.histseclor {
  color: #646464;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.iskalag {
  position: absolute;
  margin-left: -4rem;
  margin-top: -2rem;
}
@media screen and (max-width: 2560px) {
  .abietxt {
    margin-left: 44rem;
  }
}
@media screen and (max-width: 2000px) {
  .abietxt {
    margin-left: 25rem;
  }
}
@media screen and (max-width: 1440px) {
  .abietxt {
    margin-left: 9rem;
  }
}
@media screen and (max-width: 1024px) {
  .abietxt {
    margin-left: 0rem;
  }
  .iskalag {
    display: none;
  }
  .iskab {
    display: none;
  }
  .thirtyfive {
    color: #222;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  .histrow {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 425px) {
  .colhis {
    display: flex;
    justify-content: center;
  }
  .imgsiez {
    width: 20rem;
  }
  .thirtyfive {
    color: #222;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}
